body {
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    background-image: url("../NOTEBOOK/public/images/login.jpg");
    background-repeat: repeat;
    background-size: cover;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px;
}

a:hover {
    background-color: darkgreen;
    color: white;
}


a:active {
    background-color: purple;
    color: white;
}

.divform {
    text-align: center;
    
}

section {
    display: flex;
    flex-wrap: wrap;
}